
@model Calculator.Models.CalcResult
@using Calculator.Models
@{
    ViewBag.Title = "Calculate";
}

    <h2>Calculate</h2>

    @using (Ajax.BeginForm("Calculate", new AjaxOptions { UpdateTargetId = "result" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("arg1", "First Argument", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("arg1", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("operation", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("operation", EnumHelper.GetSelectList(typeof(Operations)))


                </div>
            </div>
            <div class="form-group">
                @Html.Label("arg2", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("arg2", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Calculate" class="btn btn-default" id="calculate" />
                </div>
            </div>
        </div>
    }



    <div>
        <p>Result: <span id="result"></span></p>
    </div>

